@import "./variables.scss";

.zc-checkbox-wrapper {
  font-size: $base-font-size;
  line-height: $line-height-computed;
  color: $primary-font-color;
  vertical-align: middle;
  cursor: pointer;
}

.zc-checkbox {
  position: relative;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
}

.zc-checkbox-input {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  cursor: pointer;
}

.zc-checkbox-disabled {
  cursor: not-allowed;
}

.zc-checkbox+span {
  margin-left: 8px;
  margin-right: 16px;
}

.zc-checkbox-inner {
  border-radius: 2px;
  width: 14px;
  height: 14px;
  line-height: 1;
  border: 1px solid $border-gary-color;
  background-color: #fff;
  display: inline-block;
  cursor: pointer;

  &::after {
    content: "";
    transform: rotate(45deg) scale(0);
    position: absolute;
    left: 4px;
    top: 1px;
    display: table;
    width: 5px;
    height: 8px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    transition: $base-transition;
  }
}

.zc-checkbox-inner-checked {
  background-color: $primary-color;
  border-color: $primary-color;
  position: relative;

  &::after {
    content: "";
    transform: rotate(45deg) scale(1);
    position: absolute;
    left: 4px;
    top: 1px;
    display: table;
    width: 5px;
    height: 8px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
  }
}

.zc-checkbox-inner.zc-checkbox-inner-disabled {
  background-color: $primary-gary-color;
  cursor: not-allowed;
}

.zc-checkbox-inner-checked.zc-checkbox-inner-disabled {
  background-color: $primary-gary-color;
  border-color: $border-gary-color;
  cursor: not-allowed;
  &::after {
    border-color: $disabled-font-color;
  }
}
