@import "./variables";

.message-type-icon-info {
  color: $primary-color;
}

.message-type-icon-success {
  color: $success-color;
}

.message-type-icon-warn {
  color: $warning-color;
}

.message-type-icon-error {
  color: $error-color;
}

.zc-message {
  font-size: 14px;
  color: $primary-font-color;
  background-color: #fff;
  box-shadow: $base-box-shadow;
  display: inline-block;
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 24px;
  border-radius: 1000px;
  transition: $base-transition;

  i {
    padding-right: 8px;
  }
}

.zc-message-enter {
  opacity: 0;
  transform: translateX(-50%);
  top: -16px;
}

.zc-message-enter-active {
  opacity: 1;
  transform: translateX(-50%);
  top: 16px;;
}

.zc-message-leave {
  opacity: 1;
  transform: translateX(-50%);
  top: 16px;
}

.zc-message-leave-active {
  opacity: 0;
  transform: translateX(-50%);
  top: -16px;
}
